.yxs-swiper{
  margin-top:10px;
  overflow: hidden;
  width: 100%;
  height:400px;
  position: relative;
  transform:translateZ(0);
  .swiper-container{
    width: 100%;
    display: flex;
    z-index:1;
    height:100%;
    .swiper-slide{
      width:100%;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      line-height: 300px;
      background: #f46f6f;
      position: relative;
      font-size: 50px;
      color: #fff;
    }
  }
  .swiper-btn{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
  }
  .swiper-prev-btn{
    left:10px;
  }
  .swiper-next-btn{
    right:10px;
  }
}
